*{
width: 150px;
height: 150px;
border:2px solid black;

}
.caja1{
    background-color:#0000ff;
}
body{
    background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQtro3pEzxlBBl8v4YYbgeXgr6vxhTpNVxBvc3Ij-1h3pSIawGF');

}
.caja2{
    background-color: rgba(255, 0,0, 0.4);
}
.caja3{
    /* color saturacion, luminosidad */
    background-color: hsl(120, 100%,50%);
}
.caja4{
    /* linear-gradiente(grados colores) */
    background: linear-gradient(180deg,red,green,white);
}
.caja5{
    background: radial-gradient(circle,red,white,#0000ff);
}